.TodoList_container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  transition: transform 0.2s;
}

.listItem:hover {
  transform: scale(1.02);
}

.taskDetails h5 {
  font-size: 18px;
  color: #555;
  margin: 0 0 10px;
}

.taskDetails p {
  color: #777;
  font-size: 14px;
}

.priorityContainer,
.statusContainer,
.datesContainer {
  margin-top: 10px;
}

.select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-left: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  color: #333;
}

.checkboxButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.2s;
}

.checkboxButton.completed {
  color: green;
}

.checkboxButton:not(.completed) {
  color: red;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.editButton,
.deleteButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
}

.editButton:hover {
  color: blue;
}

.deleteButton:hover {
  color: red;
}

/* Para garantir que a área de edição fique alinhada corretamente */
.editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Ajuste do input de título */
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Ajuste do textarea de descrição */
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical; /* Permite redimensionar verticalmente */
  box-sizing: border-box;
}

/* Botões de salvar e cancelar */
.saveButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.cancelButton {
  background-color: #ddd;
  color: #333;
}

.saveButton:hover,
.cancelButton:hover {
  background-color: #0056b3;
}

.cancelButton:hover {
  background-color: #bbb;
}
